body{
  color: #40515E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #66BFBF;
  font-size: 62px;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: normal;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-color: #EAF6F6;
  width: 20%;
  border-style: dotted;
  border-width: 20px 0px 0px 0px;
  margin: 50px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
p{
  font-size: 20px;
}
.navbar{
  background-color: #E4F9F5;
  margin: -19px 0px;
}
.navigation{
  float: right;
  display: inline-block;
  position: relative;
  bottom: 68px;
  right: 152px;
}
.navigation a:hover{
  color: #46ebeb;
}
.logo{
  height: 100px;
  width: 100px;
  margin: 20px 20px 20px 72px;
}
.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
  margin-top:-116px;
}
 .top-cloud{
  height: 113px;
  width: 150px;
  position: absolute;
  left: 890px;
  top: 188px;
}
.bottom-cloud{
  height: 113px;
  width: 150px;
  position: absolute;
}
.mountain{
  height: 350px;
  width: 740px;
}
/* .middle-container{

} */
.my-pic{
  margin-top: 50px;
  width: 26%;
height:321px;
  border-radius: 50%;

}
.programming{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.photoshop{
  margin-right: 20px;
  width: 25%;
  float: right;
  margin-left: 30px;
}
.illustrator{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container{
  background-color: #66bfbf;
  padding: 40px 0px 20px 0px;

}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.contact-message{
  width: 30%;
  margin: 0px auto 40px auto;
}

.btn {
	box-shadow: 0px 0px 0px 0px #11999e;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}
.btn:hover {
	background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
